* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.title-big {
    color: red;
    font-size: 50px;
}

.link-external {
    color: pink;
}

input[type="text"],
input[type="email"] {
    width: 200px;
}

.header-title {
    color: #FFD700;
    font-size: 60px;
    padding: 180px 120px 0px 120px;
    font-family: "Suez One", serif;
    line-height: 1.42;
}

.header-title span:hover {
    color:red;
    transition: color .3s;
}

.header {
    background-image: linear-gradient(to bottom, #FFFFFF 15%, #FFFFFF00), url(img/fond-carreau.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
}

.header-2 {
    padding: 10px;
}

.header-title {
    margin-top: 0;
}

div#artcl {
    display: flex;
}

.main {
    background: #FFD700;
    color: black;
    width: 50%;
    padding: 40px 120px;
}

.main2 {
    background: #FFD700;
    color: black;
    width: 50%;
    padding: 40px 120px;
}


.footer {
    background:red;
    padding: 10px 20px;
}

.logo {
    position: fixed;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 65px 50px;
}

.header-nav a {
    padding: 5px 30px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    height: auto;
}

.header-nav a:hover {
    background-color: #FFD700;
    border-radius: 10px;
    transition: background-color .5s;
    color: white;
}

.indication {
    padding: 24px 120px 0px 120px;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    margin: 24px 290px 160px 120px;
}

.here {
    color: red;
}

h2 {
    color: white;
    font-size: 30px;
    padding: 0px 0px 30px 0px;
}

.number {
    color: red;
}

h3 {
    padding: 0px 40px;
}

p {
    padding: 0px 0px 0px 60px;
}

.link-external {
    display: flex;
    justify-content: center;
}

.link-works {
    color: white;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    max-width: 100%;
    max-height: auto;
    padding: 25px;
}

form {
    text-align: center;
}

@media (max-width: 100px){
    .header-nav { 
        flex-direction: column;
        height: auto;
    }
}

article img {
    height: 400px;
    width: auto;
    padding: 20px;
}

article figure {
    display: inline-block;
    justify-content: center;
    transition: transform cubic-bezier(0.77, 0, 0.2, 0.99) .5s;
}

article figure:hover {
    transform: scale(1.2);
}

.legend {
    display: flex;
    justify-content: left;
}